.contact-list{
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 5px;
    margin: 2vh 13vw;
    display: flex;
    justify-content: space-between;
}
.add-contact-btn{
    background-color: rgb(28, 124, 162);
    color: white;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 530;
    cursor: pointer;
}
.contact-list h2{
    font-weight: 625;
}
.SearchBar{
    margin: 2vh 12.8vw;
}
.contacts h2{
    font-weight: 625;
    text-align: center;
}